<div class="w-screen h-screen bg-gray-50 relative">
  <div class="absolute w-full h-full">
    <img
      class="absolute w-96 left-0 bottom-0"
      src="../../../assets/svg/login-bg-left.svg"
      alt="login-bg-left"
    >
    <img
      class="absolute w-96 right-0 bottom-0"
      src="../../../assets/svg/login-bg-right.svg"
      alt="login-bg-right"
    >
  </div>
  <div class="relative w-3/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src= "../../../assets/images/logo/logo-gradient-blue-trello.png"
        alt="logo"
      >
    </header>
    <div class="bg-white rounded shadow py-4 px-6">
      <div>
        <h1 class="text-center font-semibold text-gray-700 pt-4 pb-8">Log In to Trello to continue</h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input
              type="email"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              placeholder="Enter email"
            >
          </div>
          <div class="relative">
            <input
              type="password"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              placeholder="Enter password"
            >
          </div>
          <div class="mb-5">
            <app-btn
              btnType="submit"
            >
              Log In
            </app-btn>
          </div>
          <div class="border-b-2">
            <ul class="flex text-sm justify-center mb-2">
              <li>
                <a
                  class="text-blue-600"
                  href="#"
                >
                  Can't Login?
                </a>
              </li>
              <p class="mx-2 text-gray-500">•</p>
              <li>
                <a
                  class="text-blue-600"
                  href="#"
                >
                  Create an account
                </a>
              </li>
            </ul>
          </div>
          <div class="grid text-gray-600 justify-items-center pb-2">
            <img
              class="w-48"
              src= "../../../assets/images/logo/horizontal-logo-gradient-neutral-atlassian.png"
              alt="logo"
            >
            <div class="text-xs">
              An account for Trello, Jira, Confluence and more.
            </div>
          </div>
          <div class="text-gray-600">
            <ul class="flex text-xs justify-center">
              <li>
                <a>Privacy policy</a>
              </li>
              <p class="mx-2">•</p>
              <li>
                <a>User notice</a>
              </li>
            </ul>
          </div>
          <div class="text-center text-xs text-gray-600">
            This site is protected by reCAPTCHA
            <a href="#" class="text-blue-600">privacy policy</a>
            and
            <a href="#" class="text-blue-600">terms and conditions</a>
            are applied.
          </div>
       </form>
      </div>
    </div>
  </div>
</div>

